spring:
  application:
    name: student-management

  # Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/student_management?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456789
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379

  # GraphQL Configuration
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    http:
      path: /graphql

# Server Configuration
server:
  port: 8081

# Logging
logging:
  level:
    com.example.student_management: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
